In [20]:

import os
import cv2
from IPython.display import display_html, display
from PIL import Image as PILImage
# from utils import display_borderless_tables

from img2table.document import Image
from img2table.ocr import TesseractOCR, PaddleOCR

In [21]:
# import fitz

# pdffile = "table_extraction.pdf"
# doc = fitz.open(pdffile)
# page = doc.load_page(0)  # number of page
# pix = page.get_pixmap()
# output = "outfile.png"
# pix.save(output)
# doc.close()

In [22]:
img = Image("full_page.jpg")
tesseract = TesseractOCR()

# Extract tables with Tesseract and PaddleOCR
tables = img.extract_tables(ocr=tesseract, borderless_tables=True)

df = tables[0].df
print(df)

       0                                                  1  \
0    10.                      PROPERTY, PLANT AND EQUIPMENT
1   None                                               None
2   None                                               None
3   None                                               None
4   None                  Carrying value at\n1 October 2020
5   None                                          Additions
6   None            Arising on acquisition\nof subsidiaries
7   None                             Disposal of subsidiary
8   None                                     derecognitions
9   None                                          Transfers
10  None                        Borrowing costs capitalised
11  None                                         operations
12  None          Depreciation from\ndiscontinued operation
13  None                         Effect of foreign currency
14  None                                           movement
15  None                                  30 September 2021
16  None                                        Comprising:
17  None                                               Cost
18  None    Accumulated depreciation\nand impairment losses
19  None                                               None
20  None                  Carrying value at\n1 October 2019
21  None  Adjustment as a result of\nadopting IFRS 16\nA...
22  None            Arising on acquisition\nof subsidiaries
23  None  Disposals, scrappings or\nderecognitions\nTran...
24  None                        Borrowing costs capitalised
25  None                                         operations
26  None          Depreciation from\ndiscontinued operation
27  None                         Effect of foreign currency
28  None                                           movement
29  None                                  30 September 2020
30  None                                        Comprising:
31  None                                               Cost
32  None    Accumulated depreciation\nand impairment losses
33  None                                               None

                                2  \
0   PROPERTY, PLANT AND EQUIPMENT
1                            None
2      Land and\nbuildings\nowned
3                              Rm
4                            6711
5                              88
6                             167
7                           (184)
8                            None
9                            None
10                              8
11                          (183)
12                            (1)
13                           None
14                         (119),
15                           6688
16                           None
17                           8761
18                         (2073)
19                           6688
20                          6 232
21                     (108)\n237
22                           None
23                            455
24                              8
25                          (198)
26                              4
27                           None
28                             90
29                           6711
30                           None
31                           8703
32                        (1.992)
33                           6711

                                                    3  \
0                       PROPERTY, PLANT AND EQUIPMENT
1                                     Improve-\nMotor
2   Fixed mentsto\nvehicles\nright-of-\nMedical\na...
3                                                 R'm
4                                                None
5                                                None
6                                                None
7                                                None
8                                                None
9                                                None
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                                449
21                                              (448)
22                                               None
23                                               None
24                                               None
25                                               None
26                                               None
27                                               None
28                                               None
29                                               None
30                                               None
31                                               None
32                                               None
33                                               None

                                                    4  \
0                       PROPERTY, PLANT AND EQUIPMENT
1                                     Improve-\nMotor
2   Fixed mentsto\nvehicles\nright-of-\nMedical\na...
3                                                  Rm
4                                                1111
5                                                  49
6                                                   2
7                                               (134)
8                                                None
9                                                None
10                                               None
11                                              (133)
12                                                (2)
13                                               None
14                                               (94)
15                                                880
16                                               None
17                                               1969
18                                            (1.089)
19                                                880
20                                               1129
21                                           (25)\n55
22                                               None
23                                            4\n(69)
24                                               None
25                                              (122)
26                                               (22)
27                                               None
28                                                159
29                                               1111
30                                               None
31                                              2.403
32                                            (1.299)
33                                               1111

                                                    5  \
0                       PROPERTY, PLANT AND EQUIPMENT
1                                     Improve-\nMotor
2   Fixed mentsto\nvehicles\nright-of-\nMedical\na...
3                                                 R'm
4                                                3379
5                                                 627
6                                                   3
7                                               (189)
8                                                (22)
9                                                 317
10                                               None
11                                              (728)
12                                                (4)
13                                               None
14                                              (176)
15                                               3209
16                                               None
17                                               9100
18                                             (6891)
19                                               3209
20                                               3772
21                                                495
22                                                  3
23                                                493
24                                               None
25                                              (689)
26                                               (36)
27                                               None
28                                                227
29                                               3379
30                                               None
31                                               9337
32                                            (6.958)
33                                              3 379

                                                    6  \
0                       PROPERTY, PLANT AND EQUIPMENT
1                                     Improve-\nMotor
2   Fixed mentsto\nvehicles\nright-of-\nMedical\na...
3                                                  Rm
4                                                 602
5                                                  97
6                                                  12
7                                                (13)
8                                                (14)
9                                                 147
10                                                  6
11                                              (167)
12                                                (1)
13                                               None
14                                                (4)
15                                                655
16                                               None
17                                               1826
18                                             (1171)
19                                                655
20                                                608
21                                          (74)\n103
22                                               None
23                                          (13)\n110
24                                                  =
25                                              (151)
26                                                 6)
27                                               None
28                                                 24
29                                                602
30                                               None
31                                               1735
32                                            (1 133)
33                                                602

                                                 7  \
0                                             None
1                                           Assets
2   Right-\nunder\nof-use\nconstruc-\ntion\nassets
3                                              R'm
4                                             3077
5                                              701
6                                             None
7                                             None
8                                             (65)
9                                              185
10                                            None
11                                           (362)
12                                            (13)
13                                            None
14                                           (216)
15                                            2827
16                                            None
17                                            4268
18                                         (1.441)
19                                            2827
20                                            None
21                                       2823\n346
22                                            None
23                                            (08)
24                                            None
25                                           (316)
26                                             61)
27                                            None
28                                             373
29                                            3077
30                                            None
31                                            4643
32                                         (1.566)
33                                            3077

                                                 8           9
0                                             None        None
1                                           Assets        None
2   Right-\nunder\nof-use\nconstruc-\ntion\nassets       Total
3                                               Rm         R'm
4                                              481      15 361
5                                              965        2527
6                                             None         184
7                                             None     (1.021)
8                                             None       (104)
9                                             None        (21)
10                                            None          14
11                                            None     (1.571)
12                                            None        (21)
13                                            None        None
14                                            (40)        None
15                                            None       14695
16                                            None        None
17                                             436       26360
18                                            None    (11 665)
19                                            None       14695
20                                             739      12.929
21                                             668  1286\n1904
22                                            None        None
23                                           (999)       (120)
24                                            None           8
25                                            None     (1 476)
26                                            None        None
27                                            None        None
28                                              73         945
29                                             481      15 361
30                                            None        None
31                                             481      27 302
32                                            None    (11 941)
33                                             481      15 361

In [23]:
#remove first row
df = df.iloc[1:]

In [24]:
# Extract the second column as an array (list) except the header
row_list = df.iloc[:, 1].values.tolist()
# print(row_list)
#remove the first element
print(row_list)

[None, None, None, 'Carrying value at\n1 October 2020', 'Additions', 'Arising on acquisition\nof subsidiaries', 'Disposal of subsidiary', 'derecognitions', 'Transfers', 'Borrowing costs capitalised', 'operations', 'Depreciation from\ndiscontinued operation', 'Effect of foreign currency', 'movement', '30 September 2021', 'Comprising:', 'Cost', 'Accumulated depreciation\nand impairment losses', None, 'Carrying value at\n1 October 2019', 'Adjustment as a result of\nadopting IFRS 16\nAdditions', 'Arising on acquisition\nof subsidiaries', 'Disposals, scrappings or\nderecognitions\nTransfers', 'Borrowing costs capitalised', 'operations', 'Depreciation from\ndiscontinued operation', 'Effect of foreign currency', 'movement', '30 September 2020', 'Comprising:', 'Cost', 'Accumulated depreciation\nand impairment losses', None]

In [25]:
import pandas as pd

# Convert the table to a DataFrame
table_df = pd.DataFrame(tables[0].df)

# Now you can work with 'table_df' as a DataFrame
# print(table_df)

#for all rows, check if the values expcept first column is empyt, if it is print that this row is empty
empty_rows = []
for index, row in table_df.iterrows():
    # print(row)
    if row[1:].isnull().all():
        print("Row {} is empty".format(index))
        empty_rows.append(index)
        
print(empty_rows)

[]

In [26]:
for(index, row) in table_df.iterrows():
    #find the row with index in empty_rows
    if index in empty_rows:
        row_name = row_list[index-1] 
        next = index+1
        #appent the row name to the next row
        table_df.iloc[next, 0] = row_name  + table_df.iloc[next, 0]
    
table_df.head(10)

,0,1,2,3,4,5,6,7,8,9
0,10.,"PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT",None,None,None
1,None,None,None,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Assets,Assets,None
2,None,None,Land and\nbuildings\nowned,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Total
3,None,None,Rm,R'm,Rm,R'm,Rm,R'm,Rm,R'm
4,None,Carrying value at\n1 October 2020,6711,None,1111,3379,602,3077,481,15 361
5,None,Additions,88,None,49,627,97,701,965,2527
6,None,Arising on acquisition\nof subsidiaries,167,None,2,3,12,None,None,184
7,None,Disposal of subsidiary,(184),None,(134),(189),(13),None,None,(1.021)
8,None,derecognitions,None,None,None,(22),(14),(65),None,(104)
9,None,Transfers,None,None,None,317,147,185,None,(21)

In [27]:
#remove the rows whose index is in empty_rows
table_df = table_df.drop(empty_rows)
table_df.head(10)

,0,1,2,3,4,5,6,7,8,9
0,10.,"PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT","PROPERTY, PLANT AND EQUIPMENT",None,None,None
1,None,None,None,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Assets,Assets,None
2,None,None,Land and\nbuildings\nowned,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Total
3,None,None,Rm,R'm,Rm,R'm,Rm,R'm,Rm,R'm
4,None,Carrying value at\n1 October 2020,6711,None,1111,3379,602,3077,481,15 361
5,None,Additions,88,None,49,627,97,701,965,2527
6,None,Arising on acquisition\nof subsidiaries,167,None,2,3,12,None,None,184
7,None,Disposal of subsidiary,(184),None,(134),(189),(13),None,None,(1.021)
8,None,derecognitions,None,None,None,(22),(14),(65),None,(104)
9,None,Transfers,None,None,None,317,147,185,None,(21)

In [28]:
#remove the first row
table_df = table_df.iloc[1:]
table_df.head(10)

,0,1,2,3,4,5,6,7,8,9
1,None,None,None,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Assets,Assets,None
2,None,None,Land and\nbuildings\nowned,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Total
3,None,None,Rm,R'm,Rm,R'm,Rm,R'm,Rm,R'm
4,None,Carrying value at\n1 October 2020,6711,None,1111,3379,602,3077,481,15 361
5,None,Additions,88,None,49,627,97,701,965,2527
6,None,Arising on acquisition\nof subsidiaries,167,None,2,3,12,None,None,184
7,None,Disposal of subsidiary,(184),None,(134),(189),(13),None,None,(1.021)
8,None,derecognitions,None,None,None,(22),(14),(65),None,(104)
9,None,Transfers,None,None,None,317,147,185,None,(21)
10,None,Borrowing costs capitalised,8,None,None,None,6,None,None,14

In [29]:
#remove the column which have all values as none
table_df = table_df.dropna(axis=1, how='all')
table_df.head(10)

,1,2,3,4,5,6,7,8,9
1,None,None,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Improve-\nMotor,Assets,Assets,None
2,None,Land and\nbuildings\nowned,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Fixed mentsto\nvehicles\nright-of-\nMedical\na...,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Right-\nunder\nof-use\nconstruc-\ntion\nassets,Total
3,None,Rm,R'm,Rm,R'm,Rm,R'm,Rm,R'm
4,Carrying value at\n1 October 2020,6711,None,1111,3379,602,3077,481,15 361
5,Additions,88,None,49,627,97,701,965,2527
6,Arising on acquisition\nof subsidiaries,167,None,2,3,12,None,None,184
7,Disposal of subsidiary,(184),None,(134),(189),(13),None,None,(1.021)
8,derecognitions,None,None,None,(22),(14),(65),None,(104)
9,Transfers,None,None,None,317,147,185,None,(21)
10,Borrowing costs capitalised,8,None,None,None,6,None,None,14

In [30]:
#remove the rows whose element in forst column is none
table_df = table_df.dropna(subset=[table_df.columns[0]])
table_df.head(10)

,1,2,3,4,5,6,7,8,9
4,Carrying value at\n1 October 2020,6711,None,1111,3379,602,3077,481,15 361
5,Additions,88,None,49,627,97,701,965,2527
6,Arising on acquisition\nof subsidiaries,167,None,2,3,12,None,None,184
7,Disposal of subsidiary,(184),None,(134),(189),(13),None,None,(1.021)
8,derecognitions,None,None,None,(22),(14),(65),None,(104)
9,Transfers,None,None,None,317,147,185,None,(21)
10,Borrowing costs capitalised,8,None,None,None,6,None,None,14
11,operations,(183),None,(133),(728),(167),(362),None,(1.571)
12,Depreciation from\ndiscontinued operation,(1),None,(2),(4),(1),(13),None,(21)
13,Effect of foreign currency,None,None,None,None,None,None,None,None

In [31]:
#reset the index
table_df = table_df.reset_index(drop=True)

In [32]:
table_df.head(10)

,1,2,3,4,5,6,7,8,9
0,Carrying value at\n1 October 2020,6711,None,1111,3379,602,3077,481,15 361
1,Additions,88,None,49,627,97,701,965,2527
2,Arising on acquisition\nof subsidiaries,167,None,2,3,12,None,None,184
3,Disposal of subsidiary,(184),None,(134),(189),(13),None,None,(1.021)
4,derecognitions,None,None,None,(22),(14),(65),None,(104)
5,Transfers,None,None,None,317,147,185,None,(21)
6,Borrowing costs capitalised,8,None,None,None,6,None,None,14
7,operations,(183),None,(133),(728),(167),(362),None,(1.571)
8,Depreciation from\ndiscontinued operation,(1),None,(2),(4),(1),(13),None,(21)
9,Effect of foreign currency,None,None,None,None,None,None,None,None

In [33]:
#remove \n from the first column elements
table_df[table_df.columns[0]] = table_df[table_df.columns[0]].str.replace('\n', ' ')

In [34]:
table_df.head(10)

,1,2,3,4,5,6,7,8,9
0,Carrying value at 1 October 2020,6711,None,1111,3379,602,3077,481,15 361
1,Additions,88,None,49,627,97,701,965,2527
2,Arising on acquisition of subsidiaries,167,None,2,3,12,None,None,184
3,Disposal of subsidiary,(184),None,(134),(189),(13),None,None,(1.021)
4,derecognitions,None,None,None,(22),(14),(65),None,(104)
5,Transfers,None,None,None,317,147,185,None,(21)
6,Borrowing costs capitalised,8,None,None,None,6,None,None,14
7,operations,(183),None,(133),(728),(167),(362),None,(1.571)
8,Depreciation from discontinued operation,(1),None,(2),(4),(1),(13),None,(21)
9,Effect of foreign currency,None,None,None,None,None,None,None,None

In [35]:


# excel_file_path = 'output_data.xlsx'


# table_df.to_excel(excel_file_path, index=False)  

# print(f"DataFrame saved to {excel_file_path}")

In [36]:
# Extract the first column (row titles) and format into JSON
json_data = {"table1": []}

for (index, row) in table_df.iterrows():
    values = row[1:].tolist()
    json_data["table1"].append({"name": row[1], "value":    values })

# Convert the JSON data to a string
import json

json_str = json.dumps(json_data, indent=4)

# Print the JSON string
print(json_str)

{
    "table1": [
        {
            "name": "Carrying value at 1 October 2020",
            "value": [
                "6711",
                null,
                "1111",
                "3379",
                "602",
                "3077",
                "481",
                "15 361"
            ]
        },
        {
            "name": "Additions",
            "value": [
                "88",
                null,
                "49",
                "627",
                "97",
                "701",
                "965",
                "2527"
            ]
        },
        {
            "name": "Arising on acquisition of subsidiaries",
            "value": [
                "167",
                null,
                "2",
                "3",
                "12",
                null,
                null,
                "184"
            ]
        },
        {
            "name": "Disposal of subsidiary",
            "value": [
                "(184)",
                null,
                "(134)",
                "(189)",
                "(13)",
                null,
                null,
                "(1.021)"
            ]
        },
        {
            "name": "derecognitions",
            "value": [
                null,
                null,
                null,
                "(22)",
                "(14)",
                "(65)",
                null,
                "(104)"
            ]
        },
        {
            "name": "Transfers",
            "value": [
                null,
                null,
                null,
                "317",
                "147",
                "185",
                null,
                "(21)"
            ]
        },
        {
            "name": "Borrowing costs capitalised",
            "value": [
                "8",
                null,
                null,
                null,
                "6",
                null,
                null,
                "14"
            ]
        },
        {
            "name": "operations",
            "value": [
                "(183)",
                null,
                "(133)",
                "(728)",
                "(167)",
                "(362)",
                null,
                "(1.571)"
            ]
        },
        {
            "name": "Depreciation from discontinued operation",
            "value": [
                "(1)",
                null,
                "(2)",
                "(4)",
                "(1)",
                "(13)",
                null,
                "(21)"
            ]
        },
        {
            "name": "Effect of foreign currency",
            "value": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        },
        {
            "name": "movement",
            "value": [
                "(119),",
                null,
                "(94)",
                "(176)",
                "(4)",
                "(216)",
                "(40)",
                null
            ]
        },
        {
            "name": "30 September 2021",
            "value": [
                "6688",
                null,
                "880",
                "3209",
                "655",
                "2827",
                null,
                "14695"
            ]
        },
        {
            "name": "Comprising:",
            "value": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        },
        {
            "name": "Cost",
            "value": [
                "8761",
                null,
                "1969",
                "9100",
                "1826",
                "4268",
                "436",
                "26360"
            ]
        },
        {
            "name": "Accumulated depreciation and impairment losses",
            "value": [
                "(2073)",
                null,
                "(1.089)",
                "(6891)",
                "(1171)",
                "(1.441)",
                null,
                "(11 665)"
            ]
        },
        {
            "name": "Carrying value at 1 October 2019",
            "value": [
                "6 232",
                "449",
                "1129",
                "3772",
                "608",
                null,
                "739",
                "12.929"
            ]
        },
        {
            "name": "Adjustment as a result of adopting IFRS 16 Additions",
            "value": [
                "(108)\n237",
                "(448)",
                "(25)\n55",
                "495",
                "(74)\n103",
                "2823\n346",
                "668",
                "1286\n1904"
            ]
        },
        {
            "name": "Arising on acquisition of subsidiaries",
            "value": [
                null,
                null,
                null,
                "3",
                null,
                null,
                null,
                null
            ]
        },
        {
            "name": "Disposals, scrappings or derecognitions Transfers",
            "value": [
                "455",
                null,
                "4\n(69)",
                "493",
                "(13)\n110",
                "(08)",
                "(999)",
                "(120)"
            ]
        },
        {
            "name": "Borrowing costs capitalised",
            "value": [
                "8",
                null,
                null,
                null,
                "=",
                null,
                null,
                "8"
            ]
        },
        {
            "name": "operations",
            "value": [
                "(198)",
                null,
                "(122)",
                "(689)",
                "(151)",
                "(316)",
                null,
                "(1 476)"
            ]
        },
        {
            "name": "Depreciation from discontinued operation",
            "value": [
                "4",
                null,
                "(22)",
                "(36)",
                "6)",
                "61)",
                null,
                null
            ]
        },
        {
            "name": "Effect of foreign currency",
            "value": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        },
        {
            "name": "movement",
            "value": [
                "90",
                null,
                "159",
                "227",
                "24",
                "373",
                "73",
                "945"
            ]
        },
        {
            "name": "30 September 2020",
            "value": [
                "6711",
                null,
                "1111",
                "3379",
                "602",
                "3077",
                "481",
                "15 361"
            ]
        },
        {
            "name": "Comprising:",
            "value": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ]
        },
        {
            "name": "Cost",
            "value": [
                "8703",
                null,
                "2.403",
                "9337",
                "1735",
                "4643",
                "481",
                "27 302"
            ]
        },
        {
            "name": "Accumulated depreciation and impairment losses",
            "value": [
                "(1.992)",
                null,
                "(1.299)",
                "(6.958)",
                "(1 133)",
                "(1.566)",
                null,
                "(11 941)"
            ]
        }
    ]
}